.Container{
    padding: 10px;
    height: 100%; 
}

.TextField{
    padding-top: 10px;
    padding-bottom: 10px;
}

.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 18px !important;
  line-height: 24px !important;
}
