.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 10px;
  justify-items: center;
  align-items: center;
}

@media(max-width: 520px){
  .wrapper {
    grid-template-columns: 1fr;
  }
}

.cardButtom {
  display: flex;
  height: 10px;
  align-items: self-start;
  justify-content: flex-start;
  vertical-align: middle;
  margin: 10px;
  padding: 0px;
  border: none;
}